/* Set box size to all elements on webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add background color for the whole webpage*/
body {
    background-color: #d9dcd6;
}
/* Set the font, text color, background color and spacing for the header top page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* set the element in header h1 in same row with font-side = 48px */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Set only the letter SEO in this color */
header h1 .seo {
    color: #d9dcd6;
}
/* Set ONLY the navigations/searching list elements with the font, font-size, box size and stay on the RIGHT on the page */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Set the font, text color, background color and spacing for the header top page */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set the font, text color, background color and spacing for the header top page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set the font, text color, background color and spacing for the header top page */
p {
    font-size: 16px;
}

/* Set the font, text color, background color and spacing for the header top page */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*set the margin of images in the content to 25px */
.float-left,
.float-right {
    margin-right: 25px;
}

/* Set image to the left of the box */
.float-left {
    float: left;
}

/* Set image to the right of the box */
.float-right {
    float: right;
}

/* Set the content block in same row with benefits block with 75% width of the page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*set main section with font, color, placement, background, etc*/
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Set images of main section to the max height = 200px*/
.content-section img {
    max-height: 200px;
}

/*Set margin and font size for headers of main sections */
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Set the font, text color, background color and spacing for the header top page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Set margin and color for benefit-lead,-brand,-cost box*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Set margin and text alignment for each Benefit titles */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*set img of benefit-lead block*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*set footer with font style, alignment and placement*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*set footer header with font size*/
footer h4 {
    font-size: 20px;
}
